<div class="h1 text-center my-6 text-dark bg-light">STORAGE INTEGRATION</div>

<nav>

  <head>
    <title>Landing Page</title>
     </head>

  <body>
    <div class="responsive">
      <nav class="navbar navbar-expand-lg navbar-light bg-light header">
        <!-- <a class="navbar-brand" href="">
          <img class="avatar" src="C:\Users\User\Desktop\StoreIntegration\storageFrontend\src\assets\download.png" height=75 width=75 class="rounded-circle"
            alt="Stock Logo">
        </a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse bg-light" id="collapsibleNavbar">
         
          <ul class="navbar-nav navbar-right">
            
          <li class="nav-item"><a class="nav-link text-dark font-weight-bold px-3"  routerLink="login"><i class="fas fa-sign-in-alt"></i>Login</a></li>
          </ul>
        </div>

      </nav>
    </div>
    <router-outlet></router-outlet>
  </body>
  <footer class="page-footer bg-light p-3 container-fluid mt-5">


    <div class="center text-center ">
      <p class="font-italic text-dark font-weight-bold h5 responsive-footer">@CopyRightsReserved</p>
    </div>
  </footer>